<header id="header">
    <h1>Enes Kartal</h1>
    <p>Yazılım Uzmanı</p>
    <nav>
        <ul>
            <li><a target="_blank" href="https://www.facebook.com/deagle17" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a target="_blank" href="http://github.com/EnesKartal" class="icon brands fa-github"><span class="label">Github</span></a></li>
            <li><a target="_blank" href="mailto://enes@eneskartal.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/eneskartal" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <li><a target="_blank" href="#" class="icon brands fa-app-store"><span class="label">Uygulamalar</span></a></li>
        </ul>
    </nav>
</header>