<!DOCTYPE HTML>
<html>
<head>
    <title>Enes Kartal | Kişisel Web Sitesi</title>
    <meta charset="utf-8" />
    <meta name="description" content="Enes Kartal" />
    <meta name="author" content="Enes Kartal" />
    <meta name="keywords" content="Enes Kartal" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="~/Assets/css/fontawesome-all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assets/css/main.css" />
    <noscript><link rel="stylesheet" href="~/Assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">
    @*<partial name="_CookieConsentPartial" />*@
    @RenderBody()
    <div id="wrapper">
        <div id="bg"></div>
        <div id="overlay"></div>
        <div id="main">
            <partial name="_Header" />
            <partial name="_Footer" />
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>