
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Api Dokümantasyon</title>
</head>
<body>
    Public bir API dokümantasyonu bulunmamakta.
</body>
</html>
